<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">

    <div class="sidebar-header">
      <span class="sidebar-title">Studio della funzione</span>
      <div class="header-line"></div>
    </div>

    <mat-accordion [multi]="false" class="accordion">

      <mat-expansion-panel class="panel" (opened)="onPanelOpened('domain')">
        <mat-expansion-panel-header>
          <mat-panel-title>Dominio</mat-panel-title>
        </mat-expansion-panel-header>
        @if (loadingData['domain']) {
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
        <div class="panel-content" [innerHTML]="panelData['domain']"></div>
      </mat-expansion-panel>

      <mat-expansion-panel class="panel" (opened)="onPanelOpened('intersections')">
        <mat-expansion-panel-header>
          <mat-panel-title>Intersezioni</mat-panel-title>
        </mat-expansion-panel-header>
        @if (loadingData['intersections']) {
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
        <div class="panel-content" [innerHTML]="panelData['intersections']"></div>
      </mat-expansion-panel>

      <mat-expansion-panel class="panel" (opened)="onPanelOpened('sign')">
        <mat-expansion-panel-header>
          <mat-panel-title>Segno</mat-panel-title>
        </mat-expansion-panel-header>
        @if (loadingData['sign']) {
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
        <div class="panel-content" [innerHTML]="panelData['sign']"></div>
      </mat-expansion-panel>

      <mat-expansion-panel class="panel" (opened)="onPanelOpened('asymptotes')">
        <mat-expansion-panel-header>
          <mat-panel-title>Asintoti</mat-panel-title>
        </mat-expansion-panel-header>
        @if (loadingData['asymptotes']) {
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
        <div class="panel-content" [innerHTML]="panelData['asymptotes']"></div>
      </mat-expansion-panel>

      <div class="section-divider">
        <span class="section-label">Derivata prima</span>
      </div>

      <div class="section-group">
        <mat-expansion-panel class="panel" (opened)="onPanelOpened('derivatives')">
          <mat-expansion-panel-header>
            <mat-panel-title>Derivata f'</mat-panel-title>
          </mat-expansion-panel-header>
          @if (loadingData['d1'] || loadingData['derivatives']) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          }
          <div class="panel-content" [innerHTML]="panelData['d1'] || panelData['derivatives']"></div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" (opened)="onDerivativeSignOpened(1)">
          <mat-expansion-panel-header>
            <mat-panel-title>Segno di f'</mat-panel-title>
          </mat-expansion-panel-header>
          @if (loadingData['sign_d1']) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          }
          <div class="panel-content" [innerHTML]="panelData['sign_d1']"></div>
        </mat-expansion-panel>
      </div>

      <div class="section-divider">
        <span class="section-label">Derivata seconda</span>
      </div>

      <div class="section-group">
        <mat-expansion-panel class="panel" (opened)="onSecondDerivativeOpened()">
          <mat-expansion-panel-header>
            <mat-panel-title>Derivata f''</mat-panel-title>
          </mat-expansion-panel-header>
          @if (loadingData['d2']) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          }
          <div class="panel-content" [innerHTML]="panelData['d2']"></div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel" (opened)="onDerivativeSignOpened(2)">
          <mat-expansion-panel-header>
            <mat-panel-title>Segno di f''</mat-panel-title>
          </mat-expansion-panel-header>
          @if (loadingData['sign_d2']) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          }
          <div class="panel-content" [innerHTML]="panelData['sign_d2']"></div>
        </mat-expansion-panel>
      </div>

    </mat-accordion>
  </mat-sidenav>
</mat-sidenav-container>